#content{
    margin: 30px;
}

#page-title{
    margin: 20px 0;
    font-weight: 100;
}
#wordbook-show{
    padding: 30px 0;
    margin: 30px 0;
}
.correct{
    background-color: rgb(228, 243, 255);
}
.incorrect{
    background-color: rgb(255, 235, 236);
}